@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #fcd301;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.slidebar-container{
    width: 20%;
    padding: 1em;
    min-height: 100vh;
    background-color: #fff;
    text-align: center;
}
.slidebar-container h1{
    color: #fcd301;
}
.slidebar-container hr{
    margin-top: .2em;
    border: .1px solid gainsboro;
}
.slidebar-content{
    padding: 1em;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.slidebar-content a{
    width: 100%;
    text-align: left;
    text-decoration: none;
    outline: none;
    font-size: 1.4em;
    font-weight: 600;
    color: #244079;
}
.slidebar-content a:hover{
    color: #fcd301;
}
.submain{
    width: 80%;
}
.bars{
    background-color: #fcd301;
    border: none;
    outline: none;
    display: none;
    font-size: 2.2em;
    margin-left: .2em;
    margin-right: 1em;
}
.admin-navbar-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2em;
    align-items: center;
}
.fa-user-circle{
    font-size: 1.6em;
    /* font-size: 2em; */
    color: #fff;
}
.admin-title{
    width: 50%;
    display: flex;
    font-display: row;
    align-items: center;
    /* justify-content: space-evenly; */
}
.admin-title svg{
    width: 3.5em;
    height: 3.5em;
}
.admin-title h1{
    margin-left: .3em;
    font-size: 3em;
    color: #fff;
    font-family: 'Nanum Pen Script', cursive;
}
.admin-navbar-container a{
    text-decoration: none;
    outline: none;
    font-size: 1.8em;
    font-family: sans-serif;
    color: #fff;
}
.admin-navbar-container span{
    color: #14274e;
    font-weight: 600;
    font-size: 1em;
}
#tunes{
    animation: tunes 2s infinite alternate;
}
@keyframes tunes{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(36deg);
    }
}
.tamil-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.tamil-container{
    color: #244079;
}
.album-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#slide4,#slide5,#slide6,#div4,#div5,#div6,#div7{
    display: none;
}
.content{
    display: flex;
    flex-direction: row;
}
.album-container button{
    background-color: #fcd301;
    border: none;
    outline: none;
    font-size: 2em;
    height: 4em;
    margin-top: 4em;
    cursor: pointer;    
}
.album-content{
    position: relative;
    margin-top: 1.7em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: .3em;
    width: 26%;
    height: 20em;
    color: #000;
    cursor: pointer;
}
.album-content img{
    width: 100%;
    height: 11em;
    border-radius: .2em;
    margin-bottom: .7em;
}
.album-content h1,h2,h3{
    color: #000;
    margin-bottom: .7em;
    font-size: 1em;
}
.album-content span{
    font-size: .85em;
    color: #f72585;
}