@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(user-images/user-bg.jpg);
    background-size: cover;
    background-position:50% 50%;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.submain{
    width: 100%;
}
.bars{
    /* background-color: #fcd301; */
    border: none;
    outline: none;
    display: none;
    font-size: 2.2em;
    margin-left: .2em;
    margin-right: 1em;
}
.admin-navbar-container{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.2em;
    align-items: center;
}
.fa-user-circle{
    font-size: 1.6em;
    /* font-size: 2em; */
    color: #fff;
}
.admin-title{
    width: 50%;
    display: flex;
    font-display: row;
    align-items: center;
    /* justify-content: space-evenly; */
}
.admin-title svg{
    width: 3.5em;
    height: 3.5em;
}
.admin-title h1{
    margin-left: .3em;
    font-size: 3em;
    color: #fff;
    font-family: 'Nanum Pen Script', cursive;
}
.admin-navbar-container a{
    text-decoration: none;
    outline: none;
    font-size: 1.8em;
    font-family: sans-serif;
    color: #fff;
}
.admin-navbar-container span{
    font-family: 'Sansita Swashed', cursive;
    color: rgb(53, 53, 53);
    font-weight: 400;
    font-size: 1.23em;
}
#tunes{
    animation: tunes 2s infinite alternate;
}
@keyframes tunes{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(36deg);
    }
}
main{
    background: rgba( 255, 255, 255, 0.20 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.0px );
    -webkit-backdrop-filter: blur( 1.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 95%;
    margin-left: 2em;
    padding: 1em;
}
.navbar-wrapper{
    padding: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar-wrapper a{
    color: azure;
    text-decoration: none;
    outline: none;
    font-size: 1.5em;
    font-weight: 600;
}
.tamil-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.tamil-container h1{
    font-family: 'Sansita Swashed', cursive;
    color: #4D535E;
}
.album-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#slide4,#slide5,#slide6,#div4,#div5,#div6,#div7{
    display: none;
}
.content{
    display: flex;
    flex-direction: row;
}
.album-container button{
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2em;
    height: 4em;
    margin-top: 4em;
    cursor: pointer;    
}
.album-content{
    position: relative;
    margin-top: 1.7em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: .3em;
    width: 26%;
    height: 20em;
    color: #000;
    cursor: pointer;
}
.album-content img{
    width: 100%;
    height: 11em;
    border-radius: .2em;
    margin-bottom: .7em;
}
.album-content h1,h2,h3{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    margin-bottom: .7em;
    font-size: 1em;
}
.album-content span{
    font-size: .85em;
    color: #F90165;
}
.song-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: .5em;
    margin-left: 8em;
    margin-bottom: 1em;
    background: rgba( 255, 255, 255, 0.55 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 3.0px );
    -webkit-backdrop-filter: blur( 3.0px );
    border-radius: 7px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.song-content{
    display: flex;
    flex-direction: row;
}
#id{
    width: 1em;
}
#play{
    margin-right: 3em;
}
.buttons{
    width: 4em;
}
.buttons #play{
    display: block;
}
.buttons #pause{
    display: none;
}
.buttons1 #play{
    display: none;
}
.buttons1 #pause{
    display: block;
}
.song-wrapper p{
    font-size: 1.3em;
    margin-right: 1em;
}
.song-wrapper button{
    background: transparent;
    border: none;
    outline: none;
    font-size: 1.8em;
    cursor: pointer;
}